html,
body {
  height: 100%;
  margin: 0;
}

section {
  padding: 15px;
}

#navbar {
  width: 100%;
  background-color: #ffffff;
  height: 76px;
  margin-bottom: 30px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: lightgray;
}

header {
  width: 960px;
  margin: auto;
}

textarea {
  font-size: 17px;
  line-height: 22px;
  width: 98%;
  height: 200px;
  resize: none;
  border: 1px solid lightgray;
  padding: 7px 10px;
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input {
  width: 98%;
  font-size: 17px;
  line-height: 22px;
  border: 1px solid lightgray;
  padding: 7px 10px;
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

button {
  background-color: #4aaaa5;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-style: bold;
}

.title h1 {
  text-align: center;
  padding: 20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 24px;
  line-height: 150%;
  color: white;
  background-color: #4aaaa5;
  width: 200px;
  float: left;
  font-weight: 700;
}

h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-weight: 700;
  font-size: 24px;
  padding: 20px;
}

.description {
  border-top-style: solid;
  border-width: 2px;
  border-color: lightgray;
  margin: 10px;
  padding-top: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  list-style: none;
  float: right;
  margin: 3px 10px;
}

li a {
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  cursor: pointer;
}

div {
  display: block;
}

.imageoverlay {
  position: relative;
  display: inline;
}

.imageoverlay img {
  padding: 25px;
  height: 215px;
}

.imageoverlay p {
  position: absolute;
  bottom: 8px;
  left: 48.15%;
  transform: translate(-50%, -50%);
  background-color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: white;
  width: 215.5px;
  text-align: center;
  padding: 8px 0px;
}

.links {
  float: right;
  padding: 30px;
  width: 300px;
}

.container {
  margin-top: 30px;
  background-color: #ffffff;
  height: 100%;
  width: 960px;
  margin: auto;
  border: solid;
  border-color: #dddddd;
  border-width: 1px;
  min-height: 100%;
  margin-bottom: -50px;
}

.JessicaSteren {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin: 15px;
}

p {
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 30px;
  margin: 10px 5px;
  font-size: 18px;
}

.push {
  height: 50px;
}

/*I think the footer looks better this way, hope that's alright! :) */

footer {
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
  font-size: 12px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: lightgray;
  background-color: #666666;
  text-align: center;
  border-top-style: solid;
  border-width: 5px;
  border-color: #4aaaa5;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

@media screen and (max-width: 980px)
{}

@media screen and (max-width: 768px)
{}

@media screen and (max-width: 640px)
{
  header {
    position: static;
  }
}

